.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightpink;
  padding: 0 8px;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.75);
}

.linksWrapper,
.authWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
  color: black;
  transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.link:hover {
  transform: scale(1.05);
}
