.input {
  margin-bottom: 10px;
}

.form {
  padding: 36px 78px 40px 78px;
  background-color: #efefef84;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 350px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
}

.btn {
  font-size: 18px;
  font-weight: 500;
}
